// COLORS
main = #403874 //#7d86c1//#0482dc//#000000//#9b04dc //#0562DC   // http://colrd.com/palette/23719/?download=css
hover = darken(main, 50%)
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #3085F4
// Resolution
cut = 37.5rem
